<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>adamsimpson.net Post Feed</title>
    <link>https://adamsimpson.net/</link>
    <description>Last 10 posts for adamsimpson.net</description>
    <lastBuildDate>{{now}}</lastBuildDate>
    <language>en-us</language>

    {{#posts}}
      <item>
        <title>{{title}}</title>
        <link>https://adamsimpson.net/writing/{{slug}}</link>
        <guid>https://adamsimpson.net/writing/{{slug}}</guid>
        <pubDate>{{date}}</pubDate>
        <description>
          <![CDATA[ {{excerpt}} ]]>
        </description>
        <content>
          <![CDATA[ {{content}} ]]>
        </content>
      </item>
    {{/posts}}
  </channel>
</rss>